nexus:
  build: ./nexus
  container_name: nexus
  restart: on-failure:10
  ports:
    - "8081:8081"

socat_docker:
  image: rancher/socat-docker
  container_name: socat_docker
  volumes:
  - /var/run/docker.sock:/var/run/docker.sock

jenkins:
  build: ./jenkins
  container_name: jenkins
  restart: on-failure:10
  ports:
    - "8080:8080"
    - "50000:50000"
  links:
    - socat_docker:socat_docker
    - nexus:nexus
#    - sonar:sonar
  volumes:
    - /mnt/sda1/data/jenkins:/var/jenkins_home
  env_file:
    - .env
  environment:
    - JAVA_OPTS=-Duser.timezone=France/Paris

#sonar:
#  build: ./sonar
#  container_name: sonar
#  restart: on-failure:10
#  ports:
#    - "9000:9000"
#    - "5432:5432"
#  environment:
#    - SONARQUBE_JDBC_URL=jdbc:postgresql://localhost:5432/sonar

#db:
#  image: postgres
#  net: container:sonar
#  container_name: postgres
#  restart: on-failure:10
#  environment:
#    - POSTGRES_USER=sonar
#    - POSTGRES_PASSWORD=sonar